body {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#in {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#myBut {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.25s;
}

#myBut:hover {
    background-color: crimson;
}


.allowed {
    color: green;
}

.denied {
    color: red;
}